
<!-- Update your component template with the modified Angular Material table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="uniqueID">
    <th mat-header-cell *matHeaderCellDef>Project UID</th>
    <td mat-cell *matCellDef="let element">{{element.projectID}}</td>
  </ng-container>
    <!-- Project Name Column -->
    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef>Project Name</th>
      <td mat-cell *matCellDef="let element">{{element.proName}}</td>
    </ng-container>
    <ng-container matColumnDef="projectDescription">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
    <!-- Project Details Column -->
    <ng-container matColumnDef="projectDetails">
      <th mat-header-cell *matHeaderCellDef>Project Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="getProjectsDetails(element.projectID)">View Details</button>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="projectUpdate">
      <th mat-header-cell *matHeaderCellDef>Project Update</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="toggleUpdateFormVisibility(element.projectID)"  *ngIf="apiService.isManager()">Update</button>
        <span *ngIf="!apiService.isManager()">N/A</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="projectDelete" >
      <th mat-header-cell *matHeaderCellDef>Project Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="deleteProject1(element.projectID)"  *ngIf="apiService.isManager()">Delete</button>
        <span *ngIf="!apiService.isManager()">N/A</span>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <!-- toggle update form -->
     
<div *ngIf="showUpdateForm" class="container">
    <div class="form">
      <h1>Update From</h1>
      <div >
      <mat-form-field class="example-full-width">
        <mat-label>Project Name</mat-label>
        <input matInput placeholder="Enter Project Name" [(ngModel)]="proName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter Project Description" [(ngModel)]="description">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" placeholder="Select Start Date" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" placeholder="Select End Date" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
      <button mat-raised-button color="primary" (click)="updateProject1({proName,description,startDate,endDate})">Update</button>
      <button mat-raised-button color="warn" (click)="closeUpdateForm()">Cancel</button>
    </div>
  </div>